---
apiVersion: v1
kind: Secret
metadata:
  name: kube-logstash-conf
type: Opaque
data:
  # INPUTS
  "0010-journald-input.cfg": "aW5wdXQgewogIGpvdXJuYWxkIHsKICAgIGxvd2VyY2FzZSA9PiB0cnVlCiAgICB0YWdzID0+IFsiam91cm5hbGQiXQogIH0KfQoKCmZpbHRlciB7CiAgaWYgImpvdXJuYWxkIiBpbiBbdGFnc10gewoKICAgICMgTW92ZSBjZXJ0YWluKHVzZWZ1bCkgZmllbGRzIHVuZGVyIG1lc3NhZ2UgZmllbGQKICAgIG11dGF0ZSB7CiAgICAgIHJlbmFtZSA9PiB7ICJtZXNzYWdlIiA9PiAiW21lc3NhZ2VdW21lc3NhZ2VdIiB9CiAgICB9CgogICAgaWYgW19jbWRsaW5lXSB7CiAgICAgIG11dGF0ZSB7CiAgICAgICAgcmVuYW1lID0+IHsgIl9jbWRsaW5lIiA9PiAiW21lc3NhZ2VdW2NtZGxpbmVdIiB9CiAgICAgIH0KICAgIH0KICAgIGlmIFtfdHJhbnNwb3J0XSB7CiAgICAgIG11dGF0ZSB7CiAgICAgICAgcmVuYW1lID0+IHsgIl90cmFuc3BvcnQiID0+ICJbbWVzc2FnZV1bdHJhbnNwb3J0XSIgfQogICAgICB9CiAgICB9CiAgICBpZiBbX3N5c3RlbWRfdW5pdF0gewogICAgICBtdXRhdGUgewogICAgICAgIHJlbmFtZSA9PiB7ICJfc3lzdGVtZF91bml0IiA9PiAiW21lc3NhZ2VdW3N5c3RlbWRfdW5pdF0iIH0KICAgICAgfQogICAgfQoKICB9Cn0K"

  "0010-kubernetes-input.cfg": "aW5wdXQgewogIGZpbGUgewogICAgIyBrdWJlbGV0IGNyZWF0ZWQgc3ltbGlua3MgdG8gZG9ja2VyIGNvbnRhaW5lciBsb2dzCiAgICBwYXRoID0+ICIvdmFyL2xvZy9jb250YWluZXJzLyoubG9nIgogICAgdGFncyA9PiBbImt1YmVybmV0ZXMiLCAiZG9ja2VyIl0KICB9Cn0KCmZpbHRlciB7CiAgaWYgImt1YmVybmV0ZXMiIGFuZCAiZG9ja2VyIiBpbiBbdGFnc10gewogICAgICAgIGt1YmVybmV0ZXMgewogICAgICAgICAgICBhZGRfdGFnID0+IFsia3ViZXJuZXRlc19maWx0ZXJlZCJdCiAgICAgICB9CiAgfQp9"

  # OUPUTS
  "0050-file-output.cfg": 'b3V0cHV0IHsKICBmaWxlIHsKICAgIHBhdGggPT4gIi9sb2dzL2FsbC1sb2dzLmxvZyIKICAgIGNvZGVjID0+ICJydWJ5ZGVidWciCiAgfQp9Cg=='

 # "0050-rabbitmq-output.cfg": 'IG91dHB1dCB7CiAgICByYWJiaXRtcSB7CiAgICAgICAgICBkdXJhYmxlID0+IHRydWUKICAgICAgICAgIGV4Y2hhbmdlID0+ICJsb2dzIgogICAgICAgICAgZXhjaGFuZ2VfdHlwZSA9PiAiZGlyZWN0IgogICAgICAgICAgaG9zdCA9PiAicmFiYml0bXEiCiAgICAgICAgICBrZXkgPT4gICJsb2dzdGFzaC5sb2dzIgogICAgICAgICAgcGFzc3dvcmQgPT4gImxvZ3MiCiAgICAgICAgICB1c2VyID0+ICJsb2dzIgogICAgICAgICAgdmhvc3QgPT4gImxvZ3MiCiAgICAgICAgICBwZXJzaXN0ZW50ID0+IHRydWUKICAgICAgICAgIHdvcmtlcnMgPT4gNAogICAgICAgICB9CiAgICAgICAgfQo='
